# addrwatch configuration file
# Copy this file to either $HOME/.addrwatch.cfg or to ./addrwatch.cfg and edit
# to your own preferences

# Block explorer poll frequency in seconds
# Set to 0 to have addrwatch quit immediately after a single check
frequency=60

# Set to 'yes' to push a desktop notification on balance change
# Set to 'no' to echo the amounts to the terminal instead
notification=no

# Set to 'yes' to count unconfirmed balances as well as confirmed
# Set to 'no' to only count confirmed balances
unconfirmed=no

# Set to your receiving address to have emails sent to you on change
# Leave blank to disable
email=

# By default, addrwatch will try to use `sendmail` to send your emails
# To use an external SMTP server, uncomment and set the following variables
#server=localhost
#login=LOGIN
#passwd=PASSWORD

# This string will appear in the From header of sent emails
#email_from=addrwatch <noreply@localhost.localdomain>

# Set to any ISO 4217 currency symbol to have amounts cast into that currency
# Leave blank to display the raw bitcoin amounts
currency=

# List of watched bitcoin addresses, followed by the last known balance
# addrwatch will update the balance on its own on subsequent executions
#address=1ADDReSs00000000000000000000000000,0
#address=1ADDReSs11111111111111111111111111,0
#address=1ADDReSs22222222222222222222222222,0
